
body{
    background-color: #DDDDDD;
}

button {
    background:#0066A2;
    color:white;
    border-style:outset;
    border-color:#0066A2;
    height:50px;
    width:100px;

    text-shadow:none;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: block;
}

.wrapper
{
    width:900px;
    margin: 0 auto;

}

h4 {
    font-size: 22px;
    font-family: Roboto, Arial, sans-serif;
    color: #1E1E1E;
    line-height: 32px;
}

.index-signup-register
{
    width: 800px;

    border: 3px solid rgb(177, 142, 142);

    padding: 20px;

    background: #FF851B;

    border-radius: 20px;
}

.index-signup
{
    padding:20px;
}




